/* contact.css */

/* Colores */
:root {
  --azul: #393459; /* Azul */
  --celeste: #94E1F2; /* Celeste */
  --verde: #81A649; /* Verde */
  --cafe: #F2E2CE; /* Café */
}

/* Estilos para el cuadro de contacto */
.container {
  background-color: var(--azul);
  padding: 30px;
  border: 5px solid var(--celeste);
  border-radius: 10px;
}

.professional-profile img {
  width: 150px;
  height: 150px;
}

.professional-profile h3,
.professional-profile p {
  color: var(--verde);
}

.contact-info,
.contact-form {
  color: var(--cafe);
}

/* Agrega estilos adicionales si los necesitas */
