/* contact.module.css */

/* Colores */
:root {
  --turquesa: #00CED1;
  --azul-marino: #001F3F;
  --verde-oliva: #808000;
  --azul-profundo: #00008B;
}

/* Estilos para el cuadro de contacto */
.container {
  background-color: white;
  padding: 30px;
  border: 5px solid var(--azul-profundo);
  border-radius: 10px;
  margin: 20px;
}

.professional-profile img {
  width: 150px;
  height: 150px;
}

.professional-profile h3,
.professional-profile p {
  color: var(--verde-oliva);
  font-weight: 600;
}

.contact-info,
.contact-form {
  color: var(--turquesa);
  font-weight: 600;
  font-style: italic;
}

.contact-info,
.contact-form label{
  padding: 5px;
}

/* Agrega estilos adicionales si los necesitas */
