* {
  margin: 0;
  padding: 0;
}

/* General Service */
.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.service-item {
  text-align: center;
  margin: 20px;
  flex: 1 0 200px; /* Ajusta el ancho máximo deseado para cada elemento */
}

/* CardFlag */

.card-flag-container {
  display: flex;
  justify-content: space-evenly;
  /* Otros estilos si los necesitas */
}
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh; 
}

.card-container {
  display: flex;
  gap: 5px; 
}

.card {
  width: 160px;
  height: 250px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flag {
  width: 100%;
  height: auto;
  max-height: 80%;
  object-fit: cover;
}

.country-name {
  margin-top: 15px;
  font-size: 20px;
  transition: font-size 0.3s ease-in-out;
}

.card.enlarged {
  transform: scale(1.05);
}

.card.enlarged .flag {
  transform: scale(1.05);
}

.card.enlarged .country-name {
  font-size: 24px;
}


/* Service */

.custom-container-service {
  margin: 5px;
  border: 1px solid #ccc; /* Puedes ajustar el grosor y color del borde */
  border-radius: 20px;
  padding: 20px; /* Opcional: Añade espaciado interno al contenedor */
}

.custom-container-service .custom-image {
  border: 2px solid black; /* Borde negro de 2px */
  border-radius: 10px; /* Radio de borde de 10px */
}
